*{
  margin: 0;
}
body {
  font-family: 'Rubik', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
h1{
  font-weight: bold;
}
.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-cards{
  background-color:floralwhite;
  border-radius: 8px;
  padding: 1em;
  margin: 2em;
  width: 80%;
}
.edit-section{
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border:#acddef solid 2px;
  border-radius: 10px;
  margin: 1.5em;
}
.form{
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.input{
  display: block;
  padding: 0.2rem;
}
.contact-card{
  padding: 1em;
  display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.section-image{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 1 / 1 / 2 / 2;
}
.image{
  border: 2px solid #acddef;
  border-radius: 56%;
  padding: 0.75rem;
  background-color: #f8eac7;
}
.text{
  padding-left: 1.3em;
  grid-area: 1 / 2 / 2 / 6;
}
.name{
  font-size: 1.3em;
  font-weight: bold;
}
.section-button{
  grid-area: 1 / 6 / 2 / 7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-form{
  padding: 0.5rem;
}
.icon-button{
  background-color: transparent;
  border: 0;
}
.edit-button{
  color: rgb(5, 69, 5);
  height: 1.5em;
  width: 1.5em;
}
.delete-button{
  color: red;
  height: 1.5em;
  width: 1.5em;
}